<% provide :page_title, t('menu.questions') %>
<% currently_at t('menu.questions') %>

<h1 class="mb-4"><%= t('menu.questions') %></h1>

<%= link_to t('buttons.newQuestion'), new_question_path, class: 'btn btn-primary btn-lg mb-3' %>


<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

<% @questions.each do |question| %>
  <article class="card my-3">
    <h4 class="card-header"><%= question.title %></h2>
    <div class="card-body">
      <section class="card-text mb-4">
        <div class="my-2">
          <%= truncate strip_tags(question.body), length: 140, omission: '... (continued)' %>
        </div>
      </section>

      <%= link_to t('buttons.show'), question_path(question), class: 'btn btn-primary' %> 
      <%= link_to t('buttons.edit'), edit_question_path(question), class: 'btn btn-secondary' %>
      <%= link_to t('buttons.delete'), question_path(question), data: {turbo_method: :delete, turbo_confirm: t('buttons.confirm')}, class: 'btn btn-danger' %>
    </div>
    <div class="card-footer text-body-secondary">
        <small>
          <%= t('timestamp.created') %> <%= time_ago_in_words(question.created_at) %> <%= t('timestamp.ago') %>,
          <%= t('timestamp.edited') %> <%= time_ago_in_words(question.updated_at) %> <%= t('timestamp.ago') %>
        </small>
      </div>
  </article>
<% end %>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
