<% currently_at t('menu.questions') %>
<% provide :page_title, 'Question' %>

<h1 class="mb-4"><%= @question.title %></h1>

<p class="mb-0 text-secondary">
  <%= t('timestamp.created') %>: <%= l @question.created_at, format: :long %>
</p>
<p class="mb-0 text-secondary">
  <%= t('timestamp.edited') %>: <%= l @question.updated_at, format: :long %>
</p>

<div class="lead my-3 mb-4">
  <%= sanitize @question.body %>
</div>

<%= link_to t('buttons.edit'), edit_question_path(@question), class: 'btn btn-secondary' %>
<%= link_to t('buttons.delete'), question_path(@question), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %>

<hr class="my-4" />
<h2 class="mb-3">Write your answer</h2>

<%= render "answers/form" %>

<hr class="my-4" />
<h2 class="mb-3">Answers</h2>


<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

<%= render(partial: "answers/answer", collection: @answers, as: :answer, locals: {question: @question}) || "There are no answers" %>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
